@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.__half_background {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("https://a0.muscache.com/im/pictures/airflow/Hosting-20351538/original/a37e8b2a-1910-49ad-a556-e55e8ef6b920.jpg?im_w=1200")
      no-repeat center center;
  background-size: cover;
  padding-bottom: 20px;
  // border-bottom-left-radius: 100px;
  // border-bottom-right-radius: 100px;
  // font-family: "Lobster", sans-serif;
  // font-weight: 400;
  // font-style: normal;

  main {
    @media (max-width: 1328px) {
      max-width: 90%;
    }
    h1 {
      font-size: 80px;
      word-spacing: 20px;
      color: white;
      font-family: "Lobster", sans-serif;
      font-weight: 400;
      font-style: normal;
      @media (max-width: 1212px) {
        font-size: 50px;
        @media (max-width: 500px) {
          font-size: 40px;
          word-spacing: 10px;
        }
      }
    }
    .__sub_text {
      font-family: "Lobster", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
.__middle {
  @media (max-width: 1328px) {
    max-width: 90%;
  }
}
